*/__pycache__/*
*.pyc
*.pyo
.DS_Store
.vscode
db.sqlite3
venv
**/migrations/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

materate/db.cnf
