packages:
  yum:
    nfs-utils: []

commands:
  01_mount:
    command: "/tmp/mount-nfs.sh"

files:
  "/tmp/mount-nfs.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        EFS_MOUNT_DIR=/data
        EFS_LOCATION=fs-260b9df7.efs.ap-south-1.amazonaws.com:/results

        if mount | grep ${EFS_MOUNT_DIR} > /dev/null; then
            echo "INFO: ${EFS_MOUNT_DIR} already mounted!"
        else
            echo "INFO: ${EFS_MOUNT_DIR} not mounted. Trying it now..."

            echo 'INFO: Checking if EFS mount directory exists...'
            if [ ! -d ${EFS_MOUNT_DIR} ]; then
                echo "INFO: Creating directory ${EFS_MOUNT_DIR} ..."
                sudo mkdir -p ${EFS_MOUNT_DIR}
                
                if [ $? -ne 0 ]; then
                    echo 'ERROR: Directory creation failed!'
                    exit 1
                fi
            else
                echo "INFO: Directory ${EFS_MOUNT_DIR} already exists!"
            fi

            echo "INFO: Mounting ${EFS_LOCATION} to ${EFS_MOUNT_DIR} now..."

            sudo mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport ${EFS_LOCATION} ${EFS_MOUNT_DIR}

            if [ $? -ne 0 ] ; then
                echo 'ERROR: Mount command failed!'
                exit 1
            fi
            
            sudo chmod -R 777 ${EFS_MOUNT_DIR}

            runuser -l  ec2-user -c "touch ${EFS_MOUNT_DIR}/it_works"
            if [[ $? -ne 0 ]]; then
                echo 'ERROR: Permission Error!'
                exit 1
            else
                runuser -l  ec2-user -c "rm -f ${EFS_MOUNT_DIR}/it_works"
            fi

            echo 'INFO: EFS mount complete!'
        fi

        

        